<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
  <script src="https://use.fontawesome.com/67912d8e88.js"></script>
  <link rel="stylesheet" href="/css/signUp.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/passwordstrength.css" />
  <title>Aarogya</title>
</head>

<body>
  <%- include('../partials/navbar'); %>
   <!--Signup-->
<div id="signUp"><!--started details-->
	<div id="signupLeftImage">
		<!--<image src="medicalImage/plate.png" id="plate">-->
			<img src="/img/signup-Logo.png" id="design">
    </div>
    
    <div id="Form">
        <div><%- include('../partials/message'); %></div>
        <div class="details">
            <form action="/user/forgotPassword" class="form" method="POST">
                <h1>Reset you password</h1>
                <label class="label1">Enter Your Email*</label><br>
                    <input
                        type="email"
                        placeholder="Enter Your Email"
                        name="email"
                    />
                <input
                    type="submit"
                    value="&nbsp&nbsp Send Password Reset Link &nbsp&nbsp"
                />
            </form>
        </div>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/js/passwordstrength.js"></script>
  <script src="/js/signUp.js"></script>
</body>

</html>
