<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->
    <script src="https://use.fontawesome.com/67912d8e88.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>Arogya-Homepage</title>


</head>

<!--================================Scroll to top button =====================================================-->

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>


<body class="home-page" ata-spy="scroll" data-offset="80">
    
    <!--================================ Navbar ==================================================================--> 

    <%- include('../partials/navbar'); %>

    <!--============================intropage starts==============================================-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="arogya-main-nav"></nav>

    <div><%- include('../partials/message'); %></div>
    <div class="container-fluid arogya-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1> Virtual <span>Healthcare</span> for
                        you . </h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus turpis nisl. </p>
                    <a href="/user/login">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-6">
                    <div class="card"><img class="card-img-top img-fluid" src="/img/aboutus-logo-1 (1).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid arogya-feature" id="services">
        <div class="line-mf"></div>
        <div class="container">
            <div class="row about-us">

                <div class="col-md-7">
                    <div class="cover">
                        <div class="line-mf1"></div>

                        <div class="card">
                            <svg id="bg-services" width="100%" viewBox="0 0 1000 800">
                                <defs>
                                    <image id="clip-path" xlink:href="/img/aboutus-logo-2.png" width="100%" height="70%"
                                        class="svg__image"></image>
                                    <lineargradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                        <stop offset="10%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                                        <stop offset="10%" stop-color="rgb(30,62,222)" stop-opacity="1" />

                                    </lineargradient>

                                </defs>
                                <use xlink:href="#clip-path" fill="url('#PSgrad_02')" />
                                <path fill-rule="evenodd" opacity="0.122" fill="url(#PSgrad_02)" ,
                                    d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z" />

                            </svg>

                       



                        </div>
                    </div>
                </div>

                <!-- ============================ About us page starts =========================================== -->

                <div class="col-md-5">
                    <!-- <div style="height: 80px;" class="line-mf1"></div> -->
                    <h1> <span>About us</span> </h1>
                    <div style="background-color: blue;padding: 2px; width: 25vh;  margin: 0;
                    position: absolute;
                    justify-content: center;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);" class="line-mf2"></div>

                    <br>


                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus turpis nisl, vitae dictum mi
                        semper convallis. Ut sapien leo, varius ac dapibus a, cursus quis ante. </p>
                    <p>
                        <small>Nunc sodales lobortis arcu, sit amet venenatis erat placerat a. Donec lacinia magna
                            nulla,
                            cursus impediet augue egestas id. Suspendisse dolor lectus, pellentesque quis tincidunt ac,
                            dictum id neque.
                        </small>
                    </p>
                    <!-- <div class="aboutus-btn">
                        <a href="#">Learn More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>


    <!--============================================Services section start=====================================-->

    <section id="service" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="justify-content: center;" class="title-box text-center">
                        <div class="line-mf"></div>
                        <h3 class="title-a">
                            Services
                        </h3>

                        <p id="p2" style="font-size: 2rem;">
                            Explore Our services !
                        </p>
                        <div style="background-color: blue;padding: 2px; width: 25%;float:right;  margin: 0;
            position: absolute;
            left: 38%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);" class="line-mf1"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div style="background-color:rgb(211, 247, 247);" class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="fa fa-plus-circle"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Emergency</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat! Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="background-color:rgb(211, 247, 247);" class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="fa fa-ambulance"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Ambulance</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat! Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="background-color: rgb(211, 247, 247);" class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="fa fa-stethoscope"></i></i>

                            </span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Checkup</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat! Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="background-color: rgb(211, 247, 247);" class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="fa fa-user-md"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Top Doctors</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat! Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="background-color:rgb(211, 247, 247);" class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle">
                                <i class="fa fa-credit-card"></i>
                            </span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Low Price</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat! Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="background-color:rgb(211, 247, 247);" class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="fa fa-medkit"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Affordable</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat! Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







    <!--========================================= Faq part =========================================-->

    <div class="faqpart">
        <div class="faqimage"><img src="/img/Frame2.png"></div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xs-1">
                <div class="faqcard p-0 mx-auto mt-3">
                    <h1 class="faqheading mt-4 pb-3 text-center"><b>Hi ! How can we help You?</b></h1>
                    <div style="background-color: blue;padding: 2px; width: 25%;float:right;  margin: 0;
            position: absolute;
            left: 38%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);" class="line-mf3"></div>

                    <div class="d-flex justify-content-center px-5">
                        <!-- <div class="faqsearch"> <input type="text" class="faqsearch-input" placeholder="Search..."
                                name=""> <a href=" " class="faqsearch-icon"><img src="/img/search.png" width=60%></a> </div> -->
                    </div>
                    <div class="medss">
                        <div class="faqplacards">
                            <a href=" ">
                                <div class="faqcard-inner p-3 d-flex flex-column align-items-center"> <img
                                        src="/img/guide.png">
                                    <div class="text-center mg-text"> <span class="mg-text1">Guide</span><br><span
                                            class="mg-text2">hello this is Medical Team. Hello Lorem Ipsum</span> </div>
                                </div>
                            </a>
                        </div>
                        <div class="faqplacards">
                            <a href=" ">
                                <div class="faqcard-inner p-3 d-flex flex-column align-items-center"> <img
                                        src="/img/faq.png">
                                    <div class="text-center mg-text"> <span class="mg-text1">FAQ</span><br><span
                                            class="mg-text2">hello this is Medical Team. Hello Lorem Ipsum</span> </div>
                                </div>
                            </a>
                        </div>
                        <div class="faqplacards">
                            <a href=" ">
                                <div class="faqcard-inner p-3 d-flex flex-column align-items-center"> <img
                                        src="/img/community .png">
                                    <div class="text-center mg-text"> <span class="mg-text1">Community</span><br><span
                                            class="mg-text2">hello this is Medical Team. Hello Lorem Ipsum</span> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--====================================== Features ===================================================-->

    <div class="container-fluid arogya-features-list">
        <h2 style="text-align: center;">Features</h2>
        <div style="background-color: blue;padding: 2px; width: 16%;float:right;  margin: 0;
        position: absolute;
        left: 42.5%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);" class="line-mf5"></div>
        <br>
        <div class="container">
            <div class="grid-container">
                <div class="media feature-1">
                    <div class="oval mr-4"><img class="align-self-start" src="/img/24-hours.png" alt=""></div>
                    <div class="media-body">
                        <h5 class="mb-0"> Quick Service </h5>
                        Aliquam a nisl pulvinar, hendrerit arcu sed, dapibus velit. Duis ac quam id sapien vestibulum
                        fermentum ac eu eros. Aliquam erat volutpat.
                    </div>
                </div>

                <div class="media feature-2">
                    <div class="oval mr-4"><img class="align-self-start" src="/img/money (2).png" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="mb-0">Affordable Pricing</h5>
                        Aliquam a nisl pulvinar, hendrerit arcu sed, dapibus velit. Duis ac quam id sapien vestibulum
                        fermentum ac eu eros. Aliquam erat volutpat.
                    </div>
                </div>

                <div class="media feature-3">
                    <div class="oval mr-4"><img class="align-self-start" src="/img/stethoscope.png" alt=""></div>
                    <div class="media-body">
                        <h5 class="mb-0">Top Doctors</h5>
                        Aliquam a nisl pulvinar, hendrerit arcu sed, dapibus velit. Duis ac quam id sapien vestibulum
                        fermentum ac eu eros. Aliquam erat volutpat.
                    </div>
                </div>
                <div class="media feature-4">
                    <div class="oval mr-4"><img class="align-self-start" src="/img/hospital.png" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="mb-0">Hospitals nearby</h5>
                        Aliquam a nisl pulvinar, hendrerit arcu sed, dapibus velit. Duis ac quam id sapien vestibulum
                        fermentum ac eu eros. Aliquam erat volutpat.
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="container-fluid arogya-news" id="news"></div>

    <!--============================ Gallery ========================================================-->



    <div class="container my-6" style="text-align: center;">
        <h2>Gallery</h2>
        <div style="background-color: blue;padding: 2px; width: 25%;float:right;  margin: 0;
            position: absolute;
            left: 38%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);" class="line-mf3"></div>
        <br>

        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                            alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Image 1</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                            alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Image 2</h3>
                        <!--
            <p>Secondary text</p>-->
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                            alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Image 3</h3>
                        <!--<p>Third text</p>-->
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <br>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

    </div>
    <br>

    <!--=======================Start of contact part==============================================================-->


    <!--=======================================================================================================-->
    <section id="contact" class="contact">
        <div class="line-mf"></div>
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact Us</h2>
            </div>

            <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

                <div class="col-lg-5">
                    <div class="info">
                        <div class="address">
                            <i class="fa fa-map-marker"></i>
                            <h4>Location:</h4>
                            <p>XYZ Street, Silchar,Cachar 783010</p>
                        </div>

                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="fa fa-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 000000000000</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
                    <form action="/contact" class="needs-validation" method="POST" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    minlength="2" aria-hidden="true" required />
                                <div class="invalid-feedback">
                                    Please choose a name !!
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required />
                                <div class="valid-feedback">
                                    Looks good !!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid email !!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                minlength="4" required />
                            <div class="valid-feedback">
                                Good to go !!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a subject of minimum length 4!!
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" minlength="1"
                                required></textarea>
                            <div class="valid-feedback">
                                Let's Go !!
                            </div>
                            <div class="invalid-feedback">
                                Please write something !!
                            </div>
                        </div>

                        <div class="text-center"><button type="submit" style="outline: none;"><i
                                    class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i> Send
                                Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->


    <!--=======================================================================================================-->


    <!-- Footer -->
    <%- include('../partials/footer'); %>


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>

    <!-- owl carousel js-->
    <!--<script src="owl-carousel/owl.carousel.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>