<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.foxthemes.net/socialitev2.2/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Oct 2021 20:47:58 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="../images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>Socialite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Socialite is - Professional A unique and beautiful collection of UI elements">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../css/icons.css">

    <!-- CSS 
    ================================================== --> 
    <link rel="stylesheet" href="../css/uikit.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/homeR.css" />
    <link href="../unpkg/tailwindcss%402.2.17/dist/tailwind.min.css" rel="stylesheet"> 

</head> 
<body>
<body>
   
     

  
    <div id="wrapper">

        <!-- Header -->
        <header>
            <div class="header_wrap">
                <div class="header_inner mcontainer">
                    <div class="left_side">
                        
                        <span class="slide_menu" uk-toggle="target: #wrapper ; cls: is-collapse is-active">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 4h18v2H3V4zm0 7h12v2H3v-2zm0 7h18v2H3v-2z" fill="currentColor"></path></svg>
                        </span>

                        <div id="logo">
                            <a href="/"> 
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="undraw_handcrafts_user 1" clip-path="url(#clip0_2:2)">
                                    <path id="Vector" d="M30.5322 16.6826C30.6132 13.8612 28.3982 11.6172 26.0486 11.6609C23.8917 11.8509 22.9824 12.5308 22.134 13.4156C20.4073 13.6586 18.7474 15.4825 17.969 17.2456C16.8609 19.6263 18.3198 22.513 20.3928 23.3001C22.5537 24.0425 24.9378 23.1625 26.6845 21.4972C28.7697 21.2298 30.4298 19.4006 30.5322 16.6826Z" fill="#A0FFF0"/>
                                    <path id="Vector_2" d="M35.8015 10.9258C33.2946 6.37257 28.4748 3.72597 23.8701 4.54249C22.8594 4.79026 21.8775 5.17657 20.9446 5.69336C19.6082 5.71589 18.2738 5.79364 17.0052 6.3227C10.1975 8.67158 4.39866 15.3306 4.52411 24.0058C4.31809 28.0183 5.75993 31.826 7.75429 35.0114C9.68585 38.2388 13.0023 39.8913 16.3151 39.9821C20.0619 40.1514 23.7829 39.1049 27.2151 37.3979C31.2081 35.4315 34.8925 32.0599 36.9235 27.5313C38.7802 23.1156 37.91 15.0925 35.8015 10.9258ZM33.5406 24.7811C32.363 28.0137 29.4378 31.1 25.6427 33.1196C26.0518 30.1996 25.9071 26.5874 24.4516 24.613C24.7123 24.368 24.9607 24.1054 25.1953 23.8268C26.7075 22.0847 27.6705 19.6092 27.5124 17.1055C27.4321 14.8241 26.1421 12.3004 24.2506 11.9518C23.4261 11.8783 22.6 12.1386 21.8282 12.4559C22.5959 12.4159 23.4014 12.413 24.1324 12.7201C26.585 14.458 26.0124 18.5152 24.3002 20.8145C23.3952 21.875 22.501 22.8543 21.2431 23.2039C20.963 23.2304 20.685 23.2825 20.4119 23.3597L20.4071 23.3599C20.0881 23.3284 20.2138 23.3495 19.7145 23.1465C18.6511 22.8476 16.9097 19.4546 18.0127 16.155C18.3833 14.953 19.0868 13.8345 20.0545 13.2085C20.7713 12.7885 21.5898 12.7706 22.3661 12.6121C17.962 11.4474 15.1647 17.0927 16.1204 21.6067C16.3609 22.8935 16.9361 24.0623 17.7676 24.9533C15.336 27.239 14.1367 31.0673 13.1784 34.4526C15.1593 31.0345 16.9525 27.5421 19.5583 26.1007C20.6211 26.4206 21.7451 26.3153 22.7505 25.8017C23.0733 26.0224 23.3329 26.3497 23.4964 26.7423C24.2067 28.3262 24.7863 30.8374 24.9781 33.4576C23.2094 34.3194 21.3534 34.9139 19.4554 35.2264C16.2979 35.8104 13.2877 35.0588 11.9003 33.6922C9.33843 31.0295 7.63614 26.5328 7.56824 23.6968C7.03478 18.6465 9.77802 11.9419 15.3737 8.423C16.4719 7.69062 17.5847 6.94268 18.8047 6.52215C19.1763 6.41275 19.5512 6.32158 19.9276 6.23796C19.7954 6.31003 19.6634 6.38187 19.5314 6.45349C19.394 6.53198 19.2565 6.61033 19.119 6.68855C20.1877 6.30707 21.2757 6.0038 22.3768 5.7805C24.0921 5.43231 25.6144 5.73844 27.2191 6.3802C30.5082 7.73621 33.1545 11.0771 33.7841 14.1365C34.3562 16.8703 34.2761 17.1501 34.2112 19.9555C34.0142 22.7618 34.1565 22.6007 33.5406 24.7811V24.7811Z" fill="#600FFF"/>
                                    <path id="Vector_3" d="M20.1146 2.67361C20.7476 2.67361 21.2608 2.0751 21.2608 1.3368C21.2608 0.598508 20.7476 0 20.1146 0C19.4816 0 18.9685 0.598508 18.9685 1.3368C18.9685 2.0751 19.4816 2.67361 20.1146 2.67361Z" fill="#600FFF"/>
                                    <path id="Vector_4" d="M1.14613 29.276C1.77912 29.276 2.29226 28.6775 2.29226 27.9392C2.29226 27.2009 1.77912 26.6024 1.14613 26.6024C0.513141 26.6024 0 27.2009 0 27.9392C0 28.6775 0.513141 29.276 1.14613 29.276Z" fill="#600FFF"/>
                                    <path id="Vector_5" d="M38.8539 35.4262C39.4869 35.4262 40 34.8277 40 34.0894C40 33.3511 39.4869 32.7526 38.8539 32.7526C38.2209 32.7526 37.7078 33.3511 37.7078 34.0894C37.7078 34.8277 38.2209 35.4262 38.8539 35.4262Z" fill="#600FFF"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2:2">
                                    <rect width="40" height="40" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                <!-- <img src="../images/logo.png" alt="">
                                <img src="../images/logo-mobile.png" class="logo_mobile" alt=""> -->
                            </a>
                        </div>
                    </div>
                     
                  <!-- search icon for mobile -->
                    
    
                    <div class="right_side">
    
                        <div class="header_widgets">
                            <%if(c===false){%>
                            <a href="/user/login" class="is_link">  Login </a>
                            <a href="/user/signup" class="is_link">  Signup </a>  
                            <%}else{%>
                                <a href="/user/groupLanding" class="is_link">  Groups </a>
                            <a href="/bag" class="is_icon" uk-tooltip="title: Cart">
                                <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
                            </a>
                            

                           
                             

                            
                            <a href="#">
                                <img src="<%=user.profilePic%>" class="is_avatar" alt="">
                            </a>
                            <div uk-drop="mode: click;offset:5" class="header_dropdown profile_dropdown">

                                <a href="/user/profile" class="user">
                                    <div class="user_avatar">
                                        <img src="<%=user.profilePic%>" alt="">
                                    </div>
                                    <div class="user_name">
                                        <div> <%=user.name%> </div>
                                       
                                    </div>
                                </a>
                                <hr>

                                <a href="#" id="night-mode" class="btn-night-mode">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                                      </svg>
                                     Night mode
                                    <span class="btn-night-mode-switch">
                                        <span class="uk-switch-button"></span>
                                    </span>
                                </a>
                                <a href="/user/logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                    </svg>
                                    Log Out 
                                </a>

                                
                            </div>
                            <%}%>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>

        
        
    </div>

    <div class="slideshow-container">
        <div class="mySlides fade">
          <img
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/19/bc0bb077-6ca5-414f-a30a-b7f8e4e2e8c11626700392540-H-N_Desk_Banner--1-.jpg"
            style="width: 100%"
          />
        </div>

        <div class="mySlides fade">
          <img
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/19/0561c26e-e90f-49e4-ba4f-3158a97179f21626700545599-Occasion_wear_Desk.jpg"
            style="width: 100%"
          />
        </div>

        <div class="mySlides fade">
          <img
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/19/53a9d49b-85d7-40d4-a393-98435d3d04e31626700661018-cat-fest-dk-april.jpg"
            style="width: 100%"
          />
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <div class="text-banner-container">
        <h4 class="text-banner-title">DEALS OF THE DAY</h4>
      </div>

      <div class="img-link-container">
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/20/4b09e06c-ef61-4827-ae1d-6701812366591626791203271-Shirts.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/20/ad3ad1f1-cf58-44b5-98da-e36aa6d35ec41626791203264-Kids-Activewear.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/20/2c9de7c9-33f0-4e7a-b84e-4aa4d650fa8a1626791203257-Wahl.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/20/28ec0319-2be1-4fda-9f97-1fcb9f74fca51626791203249-One8xPuma.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/20/6ebca6dd-8ce0-4a7a-a8ea-90f1123652321626791203241-handbags---wallets.jpg"
            alt=""
        /></a>
      </div>

      <!-- BIGGEST DEALS ON TOP BRANDS -->
      <div class="text-banner-container">
        <h4 class="text-banner-title">BIGGEST DEALS ON TOP BRANDS</h4>
      </div>

      <div class="img-link-container">
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/6e0a9fa0-9e8d-4c29-9250-995c9f1ba9331605363273176-Home---U.S.-Polo-Assn..jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/e72c82f2-cfd5-4f9a-b1b0-ba9e2b3e51251598892519506-W.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/0524cbd5-f034-4155-9e3b-336c4e530ee41605363272658-Home---Levis.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/64ecc170-58af-473f-8144-b1639895a8291598892519457-Veromodo.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/af31285e-f6a3-426e-bbea-0aedef9da17c1598892377537-Tommy-Hilfiger.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/9/4/e6c7a718-acc0-4aa6-b04c-470ab139d66c1599230080722-F21--4-.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/d5c17859-f366-4a65-ab42-5a066254feaa1605363272474-Home---GAP.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/5544cd64-d95b-461d-802a-8025fdfeb3331605363272844-Home---Nike.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/8d5afb84-a464-40af-9971-2e9f0827e9b71598892377591-UCB.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/581e2bf6-6d47-4a4b-a11f-43200dc9c6791598892519362-Puma.jpg"
            alt=""
        /></a>
      </div>

      <!-- CATEGORIES TO BAG -->
      <div class="text-banner-container">
        <h4 class="text-banner-title">CATEGORIES TO BAG</h4>
      </div>

      <div class="img-link-container-2">
        <a href="\products"
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/89f1bd9d-3a28-456d-888a-beff717a06f81594222908155-Shirts.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/9ff1f34e-9242-47fd-9566-e7d7a5c240511594222908483-T-shirt.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/720cf6ef-3be4-4825-8211-0125c942e3821594222907960-Jeans.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/2bac5e2d-337b-42c0-88c7-3d4e2dc464141594222908262-Shorts-_-Trousers.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/f0f9b81a-b9d5-4b8b-94d5-ea878fa9b18e1594222834121-Infant-Essential.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/8d992d81-49e6-4dec-89a4-49a8af8beb5d1594222967220-Kurtas-_-Kurta-Sets.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a048cca8-7b5d-417e-9645-ca98f4b6e52c1594222967506-Sarees.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/b0f459a0-9ef0-4392-a9ed-23892a36e79c1594222966859-Dresses.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a4dedaa4-3710-4061-b7d6-ca8c83ce9d021594222967117-Heels.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a352f908-57c8-4c66-b052-18137cf15e6c1594222967074-Handbags.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg"
            alt=""
        /></a>
      </div>

      <!-- EXPLORE TOP BRANDS -->

      <div class="text-banner-container">
        <h4 class="text-banner-title">EXPLORE TOP BRANDS</h4>
      </div>

      <div class="img-link-container">
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/a88b9390-5adb-493b-a1b3-702c59ccf53a1598348260502-Nike.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/c9f66558-feab-4d76-aa3c-adc68d81dce21598348260415-Levis.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/178c1e5d-69f2-402f-a2a5-ef44700a0f691596640983793-Roadster---.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/085719b1-c71e-4f47-950c-9a6b7f291fac1598348260370-Jack-_-Jones.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/774f42c4-f459-4514-9b90-cf8a60a5f68c1596644478087-hrx30.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f6e40444-b1a4-4c91-bb3c-fe213356e7de1598348260541-Only.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/a6de806a-b58b-460b-97fd-d78d80eab39b1596641021693-Women-s-Ethnic-Wear_Anouk.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/8d13b55d-a6a0-40ae-b39f-16f43e7911681598348260460-MAC.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f2fdda02-423c-4f11-8f1b-618ba807e5841598348260323-H_M.jpg"
            alt=""
        /></a>
      </div>
   
    
    

    
    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);
    
        (function (window, document, undefined) {
    
            'use strict';
    
            // Feature test
            if (!('localStorage' in window)) return;
    
            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;
    
            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);
    
        })(window, document);
    </script>
  
    <!-- Javascript
    ================================================== -->
     <script src="../code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/tippy.all.min.js"></script>
    <script src="../js/uikit.js"></script>
    <script src="../js/simplebar.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>
    <script src="../unpkg/ionicons%405.2.3/dist/ionicons.js"></script>

</body>

<!-- Mirrored from demo.foxthemes.net/socialitev2.2/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Oct 2021 20:48:09 GMT -->
</html>
<script src="../js/homeR.js"></script>
<script>
    function changeProfile() {
      let token = JSON.parse(localStorage.getItem("token"));
      if (token != null || token != undefined) {
        let div = document.querySelector(".changediv");
        div.innerHTML = `<ul>
            <li ><a href="#">${token.name}</a></li>
            <li><a href="/bag/${token.id}">Bag</a></li>
            <li><a href="/wishlist/${token.id}">Wishlist</a></li>
            <li><a href="/home" onclick="logout()">Logout</a></li>
          </ul>`;
      }
    }
    changeProfile();
  </script>