<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <script src="https://use.fontawesome.com/67912d8e88.js"></script>
    <!-- <link rel="stylesheet" href="../css/signUp.css" /> -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/passwordstrength.css" />
    <title>Aarogya</title>
</head>

<body>
     <%- include('../partials/navbar'); %>
         <!--Signup-->
    <div id="signUp">
        <!--started details-->
        <div id="signupLeftImage">
            <img src="/img/signup-Logo.png" id="design">
        </div>

        <div id="Form">
            <div><%- include('../partials/message'); %></div>
                <div id="logInform" class="fadeIn">
               
                        <h2 id="heading1">Reset Password</h2>
                        <div id="details1">
                            <form action="/user/resetPassword/<%= userID %>/<%= resetToken %>" method="POST" id="reset">
                                <label class="label2">New password*</label>
                                <input type="password" placeholder="Write your Password" class="inputDetails"
                                    required id="LoginEmail"
                                     name="password" />
                                    <span id="infoText">Your password must contain 8 letters,1 uppercase characters, 1
                                        number, 1 special character.</span></i><br>
                                    <div id="reasons" class="reasons"></div>
                                <div class="strength-meter" id="strength-meter"></div>
                                <p class="password-rate"></p>
                                <label class="label2">Confirm Password*</label>
                                <input type="password" placeholder="Confirm Password" class="inputDetails" required
                                     id="password" required name="cpassword"
                                     />
                                <i class="fa fa-eye" aria-hidden="true" id="eyeIcon"></i>
                                <button type="submit" id="submitbtn1">Reset</button>
                            </form>
                        </div>

                    <!-- </div>
                </div> -->
                </div>
                </div>


                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <script src="/js/resetpassword.js"></script>
                <script src="/js/signUp.js"></script>
</body>

</html>
