
<div class="searched-hospital">
   <% for(var a of hospital){ %>
      <div id="patientId2">
         <div id="patientImage2">
            <img src="../img/ProfilePic.png">
         </div>
         <div id="patientName2">
      <a  href="/user/userHospital?id=<%=a._id%>"><%= a.hospitalName %></a>
      </div>
      </div>
   <% } %>
</div>
<hr>