<style>
    #pSec2 {
        height: 89vh;
        overflow-y: scroll;
        padding-right: 0;
    }

    #name {
        margin-bottom: 2%;
    }

    #patientDetails {
        margin-bottom: 4%;
        padding: 1% 2% 3% 4%;
        height: auto;
    }


    #heading2 {
        position: relative;
        top: 20px;
        bottom: 10px;
    }

    /* #sub4 {
        margin-top: 4vh;
        height: unset !important;
        padding-left: 2%;
        padding-top: 2%;
    } */

    #pSec2::-webkit-scrollbar {
        width: 5.5px;
    }

    #pSec2::-webkit-scrollbar-track {
        background-color: rgb(209, 202, 202);
    }

    #pSec2::-webkit-scrollbar-thumb {
        background-color: #9593a0;
    }

    /* @media (max-width: 1092px) {
        #sub1 {
            height: 60vh;
        }

    } */

    @media (max-width: 860px) {
        #heading2 {
            position: relative;
            top: 10px;
        }

        /* #sub1 {
            height: 55vh;
        } */
    }

    @media (max-width: 576px) {
        #pSec2 {
            height: unset;
            overflow-y: hidden;
        }

        /* #sub4 {
            margin-top: 0;
            margin-bottom: 20px;
            box-shadow: none !important;

        } */
        #sub1 {
        margin-bottom: 4%;
    }
        #patientDetails {
            padding: 4%;
            height: auto;
            /* margin-bottom: 60px; */
        }
    }

    @media (max-width: 420px) {
        /* #sub4 {
            position: relative;
            bottom: 5vh;
            margin-top: 20%;
        } */

        /* #sub1 {
            height: 50vh;
        } */
        
        #patientDetails {
            padding: 4% 0 5% 6%;
        }
    }

    @media (max-width: 320px) {
        #patientDetails {
            padding: 6% 0 7% 8%;
        }
    }
</style>
<link rel="stylesheet" href="../css/disease.css">

<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
    <div class="disease-back-link"><a href="/user/profile"><i class="fa fa-arrow-left" aria-hidden="true"></i>Home</a>
    </div>
    <div id="sub1">
        <div class="images">
            <img src="../img/CoverPhoto.png" id="coverImg">
            <img src="../img/ProfilePic.png" id="profileImg">
            <img src="../img/camera.png" id="Camera">
        </div>
        <div class="name-id">
            <h5 id="name">
                <%= hospital.hospitalName %>
            </h5>
            <!-- <h4 id="heading1">Patient Id-<%if (user.short_id) { %>
                <%=user.short_id %>
                <% } %><span id="patientId"></span></h4> -->
        </div>
        <div id="patientDetails">
            <div class="heading-and-edit-icon">
                <h3 id="heading2">Hospital Details</h3>
                <!-- <button id="myBtnEdit"  data-toggle="modal" data-target="#myModalEdit" onclick=modalEdit()>
                    <img src="../img/profile-edit-icon.png">
                </button> -->
            </div>
            <!-- <label for="bloodGroup" class="detailLevels">Blood Group : </label>
            <input type="text" class="detailFields" id="bloodGroup">
            <br> -->
            <label for="Address" class="detailLevels">Address : </label>
            <!-- <input type="text" class="detailFields" id="Address"> -->
            <br>
            <label for="PhoneNo" class="detailLevels">Phone No. : <%=hospital.phoneNumber %> </label>
            <!-- <input type="tel" class="detailFields" id="PhoneNo"> -->
            <br>
            <label for="Email" class="detailLevels">Email : <%=hospital.email %> </label>
            <!-- <input type="email" class="detailFields" id="Email"> -->
            <br>
        </div>
    </div>

    <!-- <div id="sub4">
        <div class="container">
            <div class="add-documents">

                <h4 id="name1">Specialists</h4>
            </div>
            
        </div>
    </div> -->
</div>