<link rel="stylesheet" href="/css/flash-message.css">
<div id="flash-message">
    <% if (success_msg.length > 0) { %>
    <div class="alert alert-success alignment"><%= success_msg %><span class="close">&times;</span></div>
    <% } else if (error_msg.length > 0) { %>
    
    <div class="alert alert-danger alignment"><%= error_msg %><span class="close">&times;</span></div>
    <% } else { %> <% } %>
</div>

<script src="/js/flash-message.js"></script>
