<header>
    <div class="header_wrap">
        <div class="header_inner mcontainer">
            <div class="left_side">
                
                <span class="slide_menu" uk-toggle="target: #wrapper ; cls: is-collapse is-active">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 4h18v2H3V4zm0 7h12v2H3v-2zm0 7h18v2H3v-2z" fill="currentColor"></path></svg>
                </span>

                <div id="logo">
                    <a href="/user/groupLanding"> 
                        <img src="../images/logo.png" alt="">
                        <img src="../images/logo-mobile.png" class="logo_mobile" alt="">
                    </a>
                </div>
            </div>
             
          <!-- search icon for mobile -->
            <div class="header-search-icon" uk-toggle="target: #wrapper ; cls: show-searchbox"> </div>
            <div class="header_search"><i class="uil-search-alt"></i> 
                <form action="/user/search" method="POST">
                <input name="data" type="text" class="form-control" placeholder="Search for Groups,Posts.." autocomplete="off">
            </form>
            </div>

            <div class="right_side">

                <div class="header_widgets">
                    <a href="/user/groupLanding" class="is_link">  Groups </a>
                    <a href="/bag" class="is_icon" uk-tooltip="title: Cart">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
                    </a>

                    <a href="#">
                        <img src="../images/avatars/avatar-2.jpg" class="is_avatar" alt="">
                    </a>
                    <div uk-drop="mode: click;offset:5" class="header_dropdown profile_dropdown">

                        <a href="/user/profile" class="user">
                            <div class="user_avatar">
                                <!-- Debo to do: Include user pic -->
                                <img src="../images/avatars/avatar-2.jpg" alt="">

                            </div>
                            <div class="user_name">
                                <!-- Debo to do: Include user name -->
                                <div> Stella Johnson </div>
            
                                <span> @johnson</span>
                            </div>
                        </a>
                        <hr>
                        <a href="#" id="night-mode" class="btn-night-mode">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                              </svg>
                             Night mode
                            <span class="btn-night-mode-switch">
                                <span class="uk-switch-button"></span>
                            </span>
                        </a>
                        <a href="/user/logout">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                            </svg>
                            Log Out 
                        </a>

                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>