<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="/css/navbar.css">

<div id="containers" data-target="#Navbar">
    <nav class="navbar smart-scroll navbar-expand-lg navbar-light fixed-top" id="Navbar">
        <a class="navbar-brand" href="/"><img id="logo" src="/img/medical1.png"></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar"
            id="button1"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" >
            <ul class=" nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/" id="homeOpt">HOME<span
                            class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/#services">ABOUT US</a></li>
                <li class="nav-item"><a class="nav-link" href="/#service">SERVICES</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">CONTACT US</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      LOGIN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: unset !important; overflow: hidden;">
                      <a class="dropdown-item" href="/user/login">Patient</a>
                      <a class="dropdown-item" href="/hospital/login">Hospital</a>
                    </div>
                  </li>
                <li class="nav-item"><a class="nav-link" href="/hospital/logout">LOGOUT</a></li>

            </ul>
        </div>

    </nav>
</div>

<script src="https://use.fontawesome.com/67912d8e88.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
