.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background:url(../img/bg-modal3.svg); /* Fallback color */
   /* Fallback color */
   /* Black w/ opacity */
  background-position: center;
  background-blend-mode: overlay !important;
  background-repeat: no-repeat, repeat;
   transition: background-color .1s ease-in;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

/* Untitled design 1 */






/* Modal Content/Box #0667B8;*/
.modal-content-edit {
  color:#e9ebec;
  background-color: rgba(238, 246, 253, 1) !important;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 60% !important ; /* Could be more or less, depending on screen size */
  height: 83% !important;
  border-radius: 1rem;
  border-color: bisque;
  margin-top: 5rem;
  transition: background-color .5s ease-in;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.content-top-edit {
    background-color: rgb(247, 247, 247) !important;
    height:6rem;
    width:100%;
    top:-5rem;
    margin-top: -15px;
    display: inline-flex;
    border-radius: 1rem 1rem 0rem 0rem;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(left,#0667B8 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3e57c8 0%, #0667B8 100%);
  background-image: -moz-linear-gradient(left, #0667B8 0%, #4E90A4 100%), -moz-linear-gradient(left, #6db4e4 0%,#0667B8 100%);
  background-image: -o-linear-gradient(left,#0667B8 0%, #4e70a4 100%), -o-linear-gradient(left, #69a2e2 0%, #0667B8 100%);
  background-image: linear-gradient(to right,#0667B8 0%, #4e6ca4 100%), linear-gradient(to right, #6da2ce 0%, #0667B8 100%);
}

#profileImg1 {
  border-radius: 4rem;
  max-height: 4rem;
  max-width:4rem;
 display: flex;
 align-content: flex-start;
 margin-top:12px;
 margin-left: 30px;

}
.editBtn{
    right:0 !important;
    
   
}

.content-top-edit h4 {
    display: flex;
    vertical-align: middle;
    margin-top: 38px;
    margin-left:20px;
    font-size:23px;
}

/* The Close Button */
.cancel-edit {
  position: absolute !important;
  right: 27rem !important;
  top:8.3rem !important;
  text-align:end;
  color: rgb(227, 232, 235) !important;
  font-size: 18px !important;
  background: none;
  border: none;
   padding: 0;
   font-weight: 10px;
   text-decoration: none;
   font-family: "Times New Roman", Times, serif;
}
.save1-edit {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  right: 1rem;
  text-align:end;
  bottom:8rem;
  padding: 0;
  border: none;
  color: rgb(227, 232, 235) !important;
  font-size: 18px;
  background: none;
  border: none;
  font-weight: 20px;
}


.cancel:hover,
.cancel:focus {
  color: black;

  cursor: pointer;
}
.save1:hover,
.save1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.form-modal-edit {
    
    border-radius: 1rem 1rem 0rem 0rem;
  padding-top:1rem;
  width:100%;
    /*background:  rgb(35, 94, 172,0.8) ;*/
  /*box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;*/
  margin-top:5px;
  max-height:100%;
  display:flex-wrap;
}

.group1-edit { 
  margin-top:12px !important;
  margin-left: -5px;
    position: relative; 
  margin-bottom: 15px; 
  
}


.form-modal-edit input {
  margin-top:2.5rem;
    font-size: 18px;
    padding: 8px 8px 8px 5px;
  -webkit-appearance: none;
  border-radius:10px;
    display: block;
    background: rgb(35, 94, 172,0.2);
    color: #7a7a7a !important;
    width: 100%;
    border: none;
    border-bottom: 1px solid  #cecbcb;
}

.form-modal-edit input:focus { outline: none; }


/* Label */

.form-modal-edit label {
    color: #a5a5a5; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -12px;
    transition: all 0.2s ease;
}


/* active */

.form-modal-edit input:focus ~ label, input.used ~ label {
    /*top: -20px;
  /*transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #3cd2ff !important;
}


/* Underline */

.bar1 {
    position: relative;
    display: block;
  width: 100%;
  margin-left:7px;
  border-bottom-left-radius:18px;
}

/*.bar1:before, .bar1:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #0667B8; 
  transition: all 0.2s ease;
  border-radius:18px !important;
}

.bar1:before { left: 50%; }

.bar1:after { right: 50%; }


/* active */

input:focus ~ .bar1:before, input:focus ~ .bar1:after { width: 100%; }


/* Highlight */

.highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
.highlight1 {
    position: absolute;
    height: 60%; 
    width: 50%; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus ~ .highlight1 {
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
}


/* Button */

.buttonS {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.buttonS:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.zone {
  margin: auto;
  margin-top: 17rem;
  position: absolute;
  top: 0rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(ellipse at center, rgba(65, 150, 219, 0.5) 0,#2f5db1 80%);
  width: 100%;
  height: 50%;
  /*border: 5px solid rgb(11, 89, 126);*/
  border-radius: 1rem;
  text-align: center;
  color: white;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
}
.zone .btnCompression .active {
  background: #5abdeb;
  color: white;
}
.UD {
  text-align: left;
  color: rgb(240, 239, 239);
  z-index:100;
  margin-top: 4px;
  margin-left: 2px;
}
.zone i {
  text-align: center;
  font-size: 5em;
  color: #fff;
  margin-top: 15px;
}
.zone .selectFile {
  height: 60px;
  margin: 0px auto;
  position: relative;
  width: 350px;
}
.zone label,
.zone input {
  cursor: pointer;
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80%;
  border-radius: 5px;
  margin-left:5px;
}
.zone label {
  background: #fff;
  color: #cbdcf0;
  display: inline-block;
  font-size: 0.9em;
  line-height: 24px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 1px 1px gray;
  margin-left:7px ;
}*/
.zone input[type=file] {
  opacity: 1;
  color:#bfeafd;
}
.zone.in {
  color: white;
  border-color: white;
  background: radial-gradient(ellipse at center, #c9c3c3 0, #b4b4b4 100%);
} 
.zone.in i {
  color: #fff;
}
.zone.in label {
  background: #fff;
  color: #a3a1a0;
}
.zone.hover {
  color: gray;
  border-color: white;
  background: #fff;
  border: 5px dashed gray;
}
.zone.hover i {
  color: #EB6A5A;
}
.zone.hover label {
  background: #fff;
  color: #EB6A5A;
}
.zone.fade {
  transition: all 0.3s ease-out;
  opacity: 1;
}
#dropZ p{
  margin-top:1rem;
  font-size: 0.7rem;
}






@media screen and (max-width:1300px) {
.modalEdit {
  margin-bottom: 1rem;
}
  .modal-content-edit {
    width: 100% !important ; /* Could be more or less, depending on screen size */
   height: 83% !important;
   /*background-color: red!important;*/
   margin-top:15% auto !important;
   padding: 20px !important;
   padding-bottom: 2rem !important;
  }
  .content-top {
    display:flex !important;
    flex:none !important;
    height:8rem !important;
  }
  .modalEdit {
    width:100%;
  }
  #profileImg1 {
    border-radius: 4rem;
    max-height: 4rem;
    max-width:4rem;
   display: flex;
   align-content: flex-start;
   margin-top:12px;
   margin-left: 15px;
  
  }
  .group1-edit input {
    margin-left:4px !important;
  }
  .zone {
    margin: auto;
    margin-top: 20rem;
  }
  .cancel-edit {
    position: absolute !important;
    right: 7rem !important;
    top: 8.2rem !important;
    text-align:end;
    color: rgb(227, 232, 235) !important;
    font-size: 18px !important;
    background: none;
    border: none;
     padding: 0;
     font-weight: 10px;
     text-decoration: none;
     font-family: "Times New Roman", Times, serif;
  }
 
}

@media screen and (max-width:500px){
  .content-top-edit h4 {
    
    margin-top: 20px;
    margin-left: 16px;
    font-size: 23px;
}
  
}
@media screen and (max-width:400px){
  
  .modal-content-edit {
  width: 100% !important;
  height: 100% !important;
  
}
}
@media only screen and (min-device-width: 481px) and (max-device-width:900px) and (orientation:portrait) {
  /* For portrait layouts only */

  .zone {
    height:100%;

  }
 .modal-content-edit {
   height:32% !important;
 }
  
}
.myBtnEdit {
  background-color: transparent;
  cursor: pointer;
}
.selectFile input {
 
  z-index: 10000;
}
@media screen and (max-width:400px){
  .content-top-edit h4 {
     
      margin-top: 10px;
      margin-left:10px;
      font-size:20px;
  }

}