body {
    margin: 0;
    padding: 0;
    /*box-sizing:border-box;*/
    overflow-y: hidden;
    overflow-x: hidden;
}
#logo {
    width: 45%;
    height: 45%;
    margin-left: 10px;
}
#containers {
    height: 9vh;
    width: 100%;
    box-shadow: -3px -16px 50px 12px rgba(18, 118, 210, 0.44);
}
#Navbar {
    background-color: #ffffff;
}
#button1 {
    border-color: blue;
}
ul {
    margin-left: 6vw;
}
ul li {
    color: black;
    font-family: Product Sans;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 3vw;
}
#inputNav {
    width: 20vw;
    padding: 2.5%;
    position: relative;
    right: 5vw;
    border-radius: 42px;
    background: #f0f0f0;
    outline: 0;
    border: none;
    float: left;
    padding-left: 30px;
    padding-right: 50px;
}
#search {
    width: 70%;
    height: 70%;
    float: left;
    position: relative;
    right: 8vw;
}

@media (max-width: 412px) {
    ul li {
        margin-left: -3.5vw;
    }
    #containers {
        height: 8vh;
    }
}
@media (max-width: 991px) {
    #inputNav {
        margin: 0 auto;
        width: 70%;
        position: relative;
        left: 5vw;
        padding: 10px;
        padding-left: 20px;
        padding-right: 40px;
    }
    #search {
        position: relative;
        right: 14vw;
    }
}
@media (max-width: 1096px) and (min-width: 992px) {
    #containers {
        box-shadow: -3px -16px 48px 17px rgba(18, 118, 210, 0.44);
    }
    #inputNav {
        padding: 10px;
        padding-left: 20px;
        padding-right: 45px;
    }
    #search {
        position: relative;
        left: 11.5vw;
        margin-top: -30px;
    }
}
@media (min-width: 1023px) and (max-width: 1096px) {
    #inputNav {
        position: relative;
        left: 15px;
    }
    #search {
        position: relative;
        left: -2.7vw;
        margin-top: 0.4vh;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    ul {
        margin-left: 4vw;
    }
    #inputNav {
        position: relative;
        left: 15px;
    }
    #search {
        position: relative;
        left: -2.7vw;
        margin-top: 0.4vh;
    }
}
@media (min-width: 1096px) and (max-width: 1224px) {
    #inputNav {
        position: relative;
        left: 5px;
        padding-left: 17px;
    }
    #search {
        position: relative;
        right: 3.5vw;
    }
}

#signupLeftImage {
    margin-top: 0;
    width: 50vw;
    height: 100vh;
    opacity: 0.85;
    background-color: #5ca0ff;
    float: left;
}
#signUp {
    display: flex;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/signup-dots.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 98vw 93vh;
    background-color: #ffffff;
}
#design {
    margin-top: 18vh;
    position: relative;
    margin-left: 5vw;
    width: 75%;
    height: 60%;
}
#Form {
    width: 50vw;
}
.fadeIn {
    opacity: 1 !important;
    transform: rotateY(0deg) scale(1, 1) !important;
    transition: 1s !important;
}
.fadeOut {
    opacity: 0 !important;
    pointer-events: none !important;
    transform: rotateY(180deg) scale(0.5, 0.5) !important;
    transition: 1s !important;
}

#signUpform {
    margin: 5vh auto;
    width: 50vw;
    height: 100vh;
}
#heading {
    /*text-align: center;*/
    font-family: Product Sans;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 0.03em;
    margin-bottom: 2vh;
    margin-left: 11vw;
}
#signUpText {
    text-align: center;
    color: #7d7987;
    font-size: 120%;
    font-family: Product Sans;
    letter-spacing: 0.03em;
}

/*#line{
position:absolute;
top:32vh;
left:58vw;
width:34%;
height:0;
border: 1px solid #F5F5F5;
}
.Logo{
width:50px;
height:50px;
background:white;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
border-radius: 5px;
float:left;
margin-right:2vw;
border:none;
text-align:center;

}
#Logopart{
margin-left:10vw;
margin-top:-3.5vh;
}

.Logo:hover{
border:2px solid blue;
}
.logoImg{
position: relative;
top:8px;
}*/
#details {
    align-items: center;
    margin: 0 20%;
}
.label1 {
    left: 0;
}
.inputDetails {
    display: inline-block;
    width: 80%;
    height: 4.5vh;
    padding-left: 20px;
    padding-right: 39px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #8692a6;
    margin-bottom: 1vh;
    font-size: 90%;
}
#eyeIcon {
    margin-left: -45px;
    cursor: pointer;
}
#info {
    position: relative;
    left: 40px;
    display: inline-block;
    cursor: pointer;
}
#infoText {
    display: none;
    position: absolute;
    right: -300%;
    bottom: 150%;
    width: 18vw;
    /* height:10vh; */
    opacity: 1 !important;
    background-color: #9ac1f8;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    /* margin-right:2vh;*/
}
#infoText::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 43px;
    border-width: 6px;
    border-style: solid;
    border-color: #9ac1f8 transparent transparent transparent;
}
#info:hover #infoText {
    display: block;
}

@media (max-width: 750px) {
    #infoText {
        width: 40vw;
        margin-right: 30px;
        padding: 10px;
    }
    #infoText::after {
        position: absolute;
        right: 13px;
    }
}
/*.socialbtn:visited{
border:2px solid blue;
}*/
#terms {
    display: inline-block;
}
#terms1 {
    padding-left: 5px;
}
#termLink {
    text-decoration: underline;
}
#submitbtn {
    display: block;
    margin-top: 3px;
    width: 80%;
    height: 5.5vh;
    background: #458ff6;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: Inter;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}
.loginlink-section {
    margin-left: 26%;
}
#login {
    margin-top: 1.5vh;
    color: #696f79;
    font-family: Inter;
    font-size: 105%;
    display: inline-block;
}
#loginLink {
    text-decoration: none !important;
    font-family: Inter;
    font-size: 135%;
}

@media screen and (max-width: 1200px) {
    #login {
        font-size: 105%;
    }
    #loginLink {
        font-size: 105%;
    }
}
@media screen and (max-width: 1050px) {
    #signUpform {
        margin: 6vh auto;
    }
    .inputDetails {
        width: 95%;
    }
    #heading {
        font-size: 200%;
    }
    #signUpText {
        font-size: 100%;
    }
    #submitbtn {
        width: 95%;
    }
    #login {
        font-size: 105%;
    }
    #loginLink {
        font-size: 105%;
    }
}
@media screen and (max-width: 950px) {
    #design {
        margin-top: 22vh;
        width: 90%;
        height: auto;
        margin-left: 3vw;
    }
}

@media screen and (max-width: 750px) {
    #design {
        margin-top: 26vh;
    }
    #signUpform {
        margin: 5vh auto;
    }
    #heading {
        font-size: 160%;
    }
    #signUpText {
        margin: 0 4px;
        font-size: 90%;
    }
    #details {
        margin: 0 15%;
    }
    #login {
        font-size: 95%;
    }
    #loginLink {
        font-size: 95%;
    }
}
@media screen and (max-width: 670px) {
    #signUpform {
        margin: 5vh auto;
    }
    #heading {
        font-size: 160%;
    }
    .label1 {
        font-size: 90%;
    }
    .inputDetails {
        height: 5.5vh;
        font-size: 80%;
    }
    #terms1 {
        font-size: 80%;
    }
    .loginlink-section {
        margin: 0 15%;
    }
}
@media screen and (max-width: 575px) {
    #design {
        margin-left: 1vw;
        width: 98%;
    }
    #heading {
        font-size: 130%;
    }
    #details {
        margin: 0 8%;
    }
    .inputDetails {
        margin-bottom: 1vh;
    }
    .loginlink-section {
        margin: 0 8%;
    }
}
@media screen and (max-width: 500px) {
    #signupLeftImage {
        display: none;
    }
    #Form {
        width: 100vw;
    }
    #signUpform {
        width: 100vw;
        align-items: center;
        text-align: left;
        margin: 7vh auto;
    }
    #details {
        margin: 3vh 11vw 0;
    }
    #heading {
        margin: 8vh 0 3vh;
    }
    .inputDetails {
        width: 98%;
        margin-bottom: 1vh;
        height: 6vh;
    }
    #submitbtn {
        width: 98%;
    }
    #login {
        margin-top: 1.5vh;
    }
    #heading {
        line-height: 20px;
        font-size: 165%;
        margin: 8vh 0 2vh;
    }
    #loginLink {
        margin-top: 2vh;
    }
    .loginlink-section {
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 300px) {
    .label1 {
        font-size: 87%;
    }
    .inputDetails {
        width: 90%;
        font-size: 80%;
    }
    #heading {
        margin: 0 0 0 11px;
        font-size: 140%;
    }
    #terms1 {
        padding-left: 5px;
        font-size: 80%;
    }
}
.error{
    border: 1px solid red;
    outline: none;
}