<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE SORTED STORE</title>
    <link rel="stylesheet" href="../css/paymentR.css">
</head>
<body>
    <div class = "header">
        <a class="myntraLogo" href="/"> 
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="undraw_handcrafts_user 1" clip-path="url(#clip0_2:2)">
                <path id="Vector" d="M30.5322 16.6826C30.6132 13.8612 28.3982 11.6172 26.0486 11.6609C23.8917 11.8509 22.9824 12.5308 22.134 13.4156C20.4073 13.6586 18.7474 15.4825 17.969 17.2456C16.8609 19.6263 18.3198 22.513 20.3928 23.3001C22.5537 24.0425 24.9378 23.1625 26.6845 21.4972C28.7697 21.2298 30.4298 19.4006 30.5322 16.6826Z" fill="#A0FFF0"/>
                <path id="Vector_2" d="M35.8015 10.9258C33.2946 6.37257 28.4748 3.72597 23.8701 4.54249C22.8594 4.79026 21.8775 5.17657 20.9446 5.69336C19.6082 5.71589 18.2738 5.79364 17.0052 6.3227C10.1975 8.67158 4.39866 15.3306 4.52411 24.0058C4.31809 28.0183 5.75993 31.826 7.75429 35.0114C9.68585 38.2388 13.0023 39.8913 16.3151 39.9821C20.0619 40.1514 23.7829 39.1049 27.2151 37.3979C31.2081 35.4315 34.8925 32.0599 36.9235 27.5313C38.7802 23.1156 37.91 15.0925 35.8015 10.9258ZM33.5406 24.7811C32.363 28.0137 29.4378 31.1 25.6427 33.1196C26.0518 30.1996 25.9071 26.5874 24.4516 24.613C24.7123 24.368 24.9607 24.1054 25.1953 23.8268C26.7075 22.0847 27.6705 19.6092 27.5124 17.1055C27.4321 14.8241 26.1421 12.3004 24.2506 11.9518C23.4261 11.8783 22.6 12.1386 21.8282 12.4559C22.5959 12.4159 23.4014 12.413 24.1324 12.7201C26.585 14.458 26.0124 18.5152 24.3002 20.8145C23.3952 21.875 22.501 22.8543 21.2431 23.2039C20.963 23.2304 20.685 23.2825 20.4119 23.3597L20.4071 23.3599C20.0881 23.3284 20.2138 23.3495 19.7145 23.1465C18.6511 22.8476 16.9097 19.4546 18.0127 16.155C18.3833 14.953 19.0868 13.8345 20.0545 13.2085C20.7713 12.7885 21.5898 12.7706 22.3661 12.6121C17.962 11.4474 15.1647 17.0927 16.1204 21.6067C16.3609 22.8935 16.9361 24.0623 17.7676 24.9533C15.336 27.239 14.1367 31.0673 13.1784 34.4526C15.1593 31.0345 16.9525 27.5421 19.5583 26.1007C20.6211 26.4206 21.7451 26.3153 22.7505 25.8017C23.0733 26.0224 23.3329 26.3497 23.4964 26.7423C24.2067 28.3262 24.7863 30.8374 24.9781 33.4576C23.2094 34.3194 21.3534 34.9139 19.4554 35.2264C16.2979 35.8104 13.2877 35.0588 11.9003 33.6922C9.33843 31.0295 7.63614 26.5328 7.56824 23.6968C7.03478 18.6465 9.77802 11.9419 15.3737 8.423C16.4719 7.69062 17.5847 6.94268 18.8047 6.52215C19.1763 6.41275 19.5512 6.32158 19.9276 6.23796C19.7954 6.31003 19.6634 6.38187 19.5314 6.45349C19.394 6.53198 19.2565 6.61033 19.119 6.68855C20.1877 6.30707 21.2757 6.0038 22.3768 5.7805C24.0921 5.43231 25.6144 5.73844 27.2191 6.3802C30.5082 7.73621 33.1545 11.0771 33.7841 14.1365C34.3562 16.8703 34.2761 17.1501 34.2112 19.9555C34.0142 22.7618 34.1565 22.6007 33.5406 24.7811V24.7811Z" fill="#600FFF"/>
                <path id="Vector_3" d="M20.1146 2.67361C20.7476 2.67361 21.2608 2.0751 21.2608 1.3368C21.2608 0.598508 20.7476 0 20.1146 0C19.4816 0 18.9685 0.598508 18.9685 1.3368C18.9685 2.0751 19.4816 2.67361 20.1146 2.67361Z" fill="#600FFF"/>
                <path id="Vector_4" d="M1.14613 29.276C1.77912 29.276 2.29226 28.6775 2.29226 27.9392C2.29226 27.2009 1.77912 26.6024 1.14613 26.6024C0.513141 26.6024 0 27.2009 0 27.9392C0 28.6775 0.513141 29.276 1.14613 29.276Z" fill="#600FFF"/>
                <path id="Vector_5" d="M38.8539 35.4262C39.4869 35.4262 40 34.8277 40 34.0894C40 33.3511 39.4869 32.7526 38.8539 32.7526C38.2209 32.7526 37.7078 33.3511 37.7078 34.0894C37.7078 34.8277 38.2209 35.4262 38.8539 35.4262Z" fill="#600FFF"/>
                </g>
                <defs>
                <clipPath id="clip0_2:2">
                <rect width="40" height="40" fill="white"/>
                </clipPath>
                </defs>
                </svg>
        </a>

        <div class = "headerCenter">
            <a href = "\bag">BAG --------</a>
            <a href = "\address">ADDRESS --------</a>
            <a href = "\payment">PAYMENT</a>    
        </div>
        <div class = "headerRight">
            <img class = "image2" src = "https://constant.myntassets.com/checkout/assets/img/sprite-secure.png"/>
            <h4 style = "float: right;">100% SECURE</h4>
        </div>
    </div>
    <div>
        <div class = "container4">
            <h4>Bank Offer</h4>
            <p>
                . 10% Instant Discount on RBL Bank Credit and Debit Cards on a minimum spend of 2500. TCA<br><br>
                <span id = "tca">...</span><span id = "more">
                . 10% Instant Discount with Standard Chartered Credit and Debit Cards on a minimum spend of 2500. TCA<br><br>
                . 5% Unlimited Cashback on Flipkart Axis Bank Ctedit Card TCA<br><br>
                . 10% Cashback upto Rs 250 on a minimum spend of Rs 1000 with PayZapp TCA<br><br>
                . Upto Rs 500 Cashback on Mobikwik wallet transaction of min Rs 999. Use code MBK500 on mobikwik TCA<br><br>
                . Flat Rs 200 Cashback on first Airtel Payments Bank transcation on myntra on a min spend of Rs 2000 TCA</span>
            </p>
            <button onclick="showMore()" id="myBtn">Show More</button>
        </div>
        <div class = "grid">
            <div class = "container4">
                <h3>Choose Payment Method</h3>
                <div class = "parent">
                    <button id = "child1" class = "btn">CREDIT/DEBIT CARD</button>
                    <button id = "child2" class = "btn">NET BANKING</button>
                    <button id = "child3" class = "btn">PAYTM/PAYZAPP WALLET</button>
                    <button id = "child4" class = "btn">UPI</button>
                    <button id = "child5" class = "btn">CASH ON DELIVERY</button>
                    <div id = "child6">
                        <h4>CREDIT/DEBIT CARD</h4>
                        <form id = "myForm">
                            <input id = "formClass" type = "number" placeholder="Card Number"><br>
                            <input id = "formClass1" type="text" placeholder="Name On Card"/><br>
                            <input id = "valid" type = "number" placeholder="Valid Thru(MM/YY)"/>
                            <input id = "cvv" type="password" placeholder="CVV"/>
                        </form>
                            <input type="checkbox" id = "checkBox"/>
                            <label for="checkBox" style = "font-size: 14px; margin-left: 8px;">Save this card for faster payment</label>
                            <button id = "myBtn2" onclick="successfulPayment()">PAY NOW</button>
                    </div>
                </div>
            </div> 
        </div>       
                <div class = "footer"> 
                    <div class = "container3">
                        <img  class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-ssl.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-visa.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-mc.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-ae.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-dc.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-nb.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-cod.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-rupay.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-paypal.png"/>
                        <img class = "images" src = "https://constant.myntassets.com/checkout/assets/img/footer-bank-bhim.png"/>

                    </div>
                    
                        <a class = "contact" href= ""><span>Need Help? Contact Us</span></a>
                    

                </div>
</body>
</html>

<script src = "../js/payment.js"></script>