<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOSPITAL LOGIN</title>
</head>
<body>
    <%- include('../partials/message'); %></div>
    <h1>HOSPITAL LOGIN</h1>
</body>
</html>